* { /* rimuovo margini, padding e robe varie di default */
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000000;
  color: #F0EDCF;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #F0EDCF;
}

a:hover {
  text-decoration: none;
  color: #40A2D8;
}

.sec-title{
  font-weight: bold;
  padding: 7px;
}

img { /* per evitare che le immagini strabordino */
  max-width: 70%;
}

ul {
  list-style-type: none;
  align-items: baseline;
}

li { /* per avere la lista orizzontale */
  display: inline; 
}

nav {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: #0B60B0;
  padding: 12px;
}

.nav-sec {
  padding: 5px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100vh;
}

.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.project-img {
  padding: 10px;
}